@import url('https://fonts.googleapis.com/css2?family=Jaro:opsz@6..72&family=Jersey+25+Charted&display=swap');
:root {
    --mainFont: "Joro"
}
input {
    width: 200px;
    height: 50px;
    border: none;
    border-bottom: 2px solid rgb(142, 134, 62);
    background-color: transparent;
    outline: currentColor;
    margin-right: 20px;
}
input::placeholder {
   color: rgb(252, 254, 253);
   font-size: 20px;
}
input:focus {
    border-bottom: 2px solid rgb(199, 188, 87);
}
button {
    border: 1px solid black;
    border-radius: 8px;
    background-color: rgb(142, 134, 62);
    height: 50px;
}
button[disabled] {
    background-color: rgb(143, 143, 143);
}
form {
    margin-bottom: 200px;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: row;
}
#toDos {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 20px;
    align-items: center;
    margin-bottom: 100px;
}
.todo {
    width: 40vw;
    height: fit-content;
    text-align: center;
    transition: 500ms;
    cursor: pointer;
}
.todo p{
    background-color: rgb(204, 192, 83);
    border: 3px solid rgb(168, 160, 86);
    border-radius: 8px;
    transition: 500ms;
    cursor: pointer;
}
@media (hover: hover) {
    .todo p:not(#edit):hover {
        background-color: rgb(182, 22, 22);
        border-color: black;
    }
}
@media (hover: none) {
    .todo p:not(#edit):active {
        background-color: rgb(182, 22, 22);
        border-color: black;
    }
}
p {
    font-family: "Joro", sans-serif;
    font-size: 20px;
    display: block;
    width: 38vw;
    word-wrap: break-word;
}
#toDos .todo button {
    position: absolute;
    margin-top: -3.3vh;
    height: 30px;
    margin-left: 19vw;
}
dialog {
    border: 3px solid rgb(0, 0, 0);
    border-radius: 8px;
    background-color: white;
    width: 300px;
    height: 100px;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
}
dialog input {
    width: 150px;
    height: 30px;
    margin-bottom: 5px;
}
dialog input::placeholder {
    font-size: 15px;
    color: green;
}
dialog button {
    width: 130px;
    height: 20px;
}
dialog * {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
@media screen and (max-width: 365px) {
    dialog {
        width: 200px;
    }
    input {
        width: 120px;
    }
    input::placeholder {
        font-size: 15px;
    }
    button {
        width: 50px;
        font-size: 10px;
    }
    #toDos .todo button {
        margin-left: 60px;
        font-size: 10px;
        height: 30px;
        word-wrap: break-word;
    }
}
@media screen and (max-width: 290px) {
    .todo {
        margin-left: -50px;
    }
}
@media screen and (max-width: 208px) {
    input {
        width: 80px;
    }
    .todo {
        margin-left: -70px;
    }
    #toDos .todo button {
        margin-left: 40px;
    }
   #submit {
    width: 40px;
    margin-left: -10px;
    }
}
@media screen and (max-width: 200px) {
    dialog {
        width: 100px;
    }
    dialog input {
        width: 70px;
    }
    dialog input::placeholder {
       font-size: 10px;
    }
    dialog button {
        width: 50px;
        font-size: 10px;
    }
}
@media screen and (max-width: 125px) {
    input {
        width: 45px;
    }

}
